{% extends 'base.html' %}

{% block title %}
    Vista en detalle
{% endblock title %}

{% block content %}

    <ul>
        <li><strong>Categoría:</strong> {{ object.categoria }}</li>
        <li><strong>Nombre:</strong> {{ object.nombre }}
        <li><strong>Raza:</strong> {{ object.raza }}
        <li><strong>Descripción:</strong> {{ object.descripcion }}
        <li><strong>Fecha de actualización:</strong> {{ object.fecha_actualizacion }}
        </li>
    </ul>

    {% url 'mascota:mascota_list' as to_url %}

{% endblock content %}