{% extends 'base.html' %}

{% block title %}
    AboutMe
{% endblock title %}

{% block content %}
    <div class="container text-center mt-5">
        <h1 class="display-4">Alumno Lazaro Gonzalez:</h1>

        <p class="lead">
            Algo sobre mí, actualmente trabajo como Analista de Soporte de Sistemas SemiSenior en Nobis Medical, la cual es una obra social prepaga. Tengo 21 años y soy de Córdoba, Capital. Siempre me interesó el mundo de la programación, aunque solo me guste el mundo del BackEnd jajaja. Este curso me ayudó a arrancar, a aprender las bases de DJANGO y cómo se desenvuelve entre apps.
        </p>
        
        <p class="lead">
            Este proyecto se basa en la publicación de mascotas disponibles para acoger, de forma que aquellos que deseen puedan ponerse en contacto por WhatsApp y así, llegar a hacer feliz a un animal sin hogar.
        </p>
    </div>
{% endblock content %}
