{% extends 'base.html' %}

{% block title %}
    AboutMe
{% endblock title %}

{% block content %}
    <div class="text-center display-1 mb-5 mt-3">
        Alumno Lazaro Gonzalez:

            Algo sobre mí, actualmente trabajo como Analista de Soporte de Sistemas SemiSenior en Nobis Medical, la cual es una obra social prepaga. Tengo 21 años y soy de Córdoba, Capital.
        Siempre me interesó el mundo de la programación, aunque solo me guste el mundo del BackEnd jajaja. Este curso me ayudó a arrancar, a aprender las bases de DJANGO y como se desenvuelve entre apps.
        Estoy enfermo, no tuve unas buenas semanas, por lo qué no pude terminar como corresponde el proyecto final, no quiero que lo tomen como excusa, sino como explicación del porqué faltan cosas!

        Aguardo la nota que me corresponda, saludos!

    </div>
{% endblock content %}