{% extends 'base.html' %}

{% block title %}
{% endblock title %}

{% block content %}
    <h1> Perfil de {{username}} </h1>

    <div class="container"></div>
      <p>Nombre completo: {{ first_name }} {{ last_name }}</p>
      <p>Email: {{ email }}</p>
    </div>

    <div style="display: flex; justify-content: center; margin-top: 20px;">
      <div style="margin-right: 5px;">
          {% url 'EditarPerfil' as url %}
          <button type="button" onclick="window.location.href='{{ url }}'">Editar Perfil</button>
      </div>
  </div>
  
{% endblock content %}

